body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: orange;
}

h1 {
  color: #333;
  margin-top: 50px;

}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: green;
}

#reset {
  background-color: yellowgreen;
  
}

#reset:hover {
  background-color: red;
}

#negative {
  background-color: purple;
  
}

#negative:hover {
  background-color: rgb(12, 12, 11);
}